<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Ca</title>
  <base href="/">
<link rel = "stylesheet" href= "http://bootswatch.com/darkly/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>Loading...</app-root>

<html ng-app="converter">


	<meta charset="utf-8">
	<title>Temperature Converter</title>
	<script src="//code.angularjs.org/1.2.16/angular.js"></script>
	<script src="app.js"></script>
</head>

<body ng-controller="MainController">

	<div>
		<input type="number" ng-model="a">℃ ⟷
		<input type="number" ng-model="a" converter="c2f">℉
	</div>
</body>
</html>


